.button {
    padding: 2px 5px;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 15px;
    background-color: red;
    cursor: pointer;

    &:disabled {
        background-color: gray;
        cursor: auto;
    }
}